<body>
 <main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
   <div class = "row">
    <div class="col-md-3">
     <!-- ユーザー情報、新規投稿_部分テンプレート -->
     <%= render 'template/user_show', book: @book, user: @user %>
    </div>
  
    <div class="col-md-8 offset-md-1">
     <h1>Users</h1>
     <table class="table">
       <thead>
        <tr>
         <th></th>
         <th>image</th>
         <th>name</th>
         <th colspan = "3"></th>
         </tr>
       </thead>
       
       <tbody>
        <tr>
         <!-- ユーザー一覧 -->
         <% @users.each do |user| %>
          <td>
           <%= image_tag user.get_profile_image(100,100) %>
           </td>
          <td>
           <%= user.name %>
           </td>
          <td>
           <%= link_to "Show", user_path(user.id)%>
           </td>
          </tr>
         <% end %>
        
       </tbody>
       
     </table>
    </div>
   </div>
  </div>
 </main>

    <footer>
      <div class="container mt-5">
      	<div class="row">
        	<div class="mx-auto">
        		<p class="text-center">CopyRight Infratop.inc</p>
        	</div>
        </div>
      </div>
    </footer>
</body>